<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Liste - {{ site.url }}/">
{% assign page_title = page.title | default: site.title %}
{% assign description = page.description | default: page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 300 %}
<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{{ description | escape }}">
<meta property="og:title" content="{{ page_title | escape }}">
<meta property="og:description" content="{{ description | escape }}">
<meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
{% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif %}
{% if page.lastmod %}<meta property="article:modified_time" content="{{ page.lastmod | date_to_xmlschema }}">{% endif %}
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page_title | escape }}">
<meta name="twitter:description" content="{{ description | escape }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/atom.xml' | absolute_url }}">
<link rel="icon" type="image/x-icon" href="{{ '/favicon.png' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}">
